/* The container for the menu buttons */
.menu-box {
    -fx-alignment: center;
    -fx-spacing: 6px;
    -fx-padding: 6px;
}

.menu-box .button {
    -fx-padding: 0 16px;
    -fx-font-family: "RM Typerighter old";
    -fx-max-height: 36px;
    -fx-pref-height: 36px;
    -fx-text-fill: white;
    -fx-font-size: 30pt;
    -fx-background-radius: 2px;
    -fx-background-color: #b71c1c;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, .16), 0.24, 50, 0, 3);
    -fx-cursor: hand;
}

.menu-box .button:hover {
    -fx-background-color: #d32f2f;
}

.menu-box .button:focused {
    -fx-background-color: #f44336;
}

.root {
    -fx-background-image: url("../images/menu.png");
    -fx-background-size: cover;
}

.title-text {
    -fx-font-family: "Shoguns Clan";
    -fx-font-size: 128px;
    -fx-text-alignment: center;
    -fx-fill: #f42116;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, .16), 0.24, 50, 0, 3);
}

.options {
    -fx-font-family: "Open Sans Regular";
    -fx-text-alignment: center;
    -fx-background-radius: 8px;
    -fx-background-color: #222222;
    -fx-pref-width: 640px;
    -fx-pref-height: 360px;
    -fx-min-height: 360px;
    -fx-max-height: 640px;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, .16), 0.24, 50, 0, 3);
}

.options .header .text {
    -fx-font-size: 16px;
    -fx-text-fill: white!important;
}

.options .content {
    -fx-padding: 16px;
    -fx-min-height: 270px;
}

.options .checkbox .box {
    -fx-background-color: red;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 2, 2, 1, 1;
    -fx-padding: 0.25em;
}

.options .checkbox {
    -fx-font-family: "Open Sans Regular";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-opacity: 0.8;
}

.options .checkbox .box {
    -fx-background-color: #333333;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 2px;
    -fx-padding: 0.25em;
}

.options .checkbox:focused .box {
    -fx-background-color: #424242;
}

.options .checkbox:disabled {
    -fx-opacity: 0.25;
}

.options .button {
    -fx-padding: 0 16px;
    -fx-font-family: "Open Sans Regular";
    -fx-max-height: 36px;
    -fx-pref-height: 36px;
    -fx-min-width: 88px;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 2px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.options .button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.options .button:focused {
    -fx-background-color: rgba(255, 255, 255, 0.15);
}

.options .choice-box {
    -fx-font-family: "Open Sans Regular";
    -fx-max-height: 36px;
    -fx-pref-height: 36px;
    -fx-min-width: 88px;
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-font-size: 16px;
    -fx-background-radius: 2px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.options .choice-box > .label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-opacity: 0.8;
}

.options .choice-box .context-menu {
    -fx-background-color: #333333;
    -fx-border-radius: 4px;
    -fx-padding: 0;
}

.options .choice-box .menu-item {
    -fx-opacity: 0.8;
}

.options .choice-box .menu-item:focused {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.options .choice-box .menu-item .label {
    -fx-text-fill: white;
}